* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  text-align: center;
  margin: 80px auto;
}

.winner {
  width: 200px;
  background-color: aquamarine;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
}
.hide {
  display: none;
}

#reset-btn {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: aqua;
  border: none;
  cursor: pointer;
}
.gamebox {
  width: 60vmin;
  height: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(83, 32, 134);
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
}

.box {
  border-radius: 5px;
  border: 1px solid rgb(191, 191, 191);
  width: 28%;
  height: 28%;
  text-align: center;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20vmin;
  padding-bottom: 16px;
}
